html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Nanum Gothic', sans-serif;
}

.thumb{
    width: 75px;
}

.input-small{
    width: 75px;
    margin-top: 7px;
}